<div class="otsikko">
     <h1>List of ratings</h1>
     <p>Number of ratings: <%= @ratings.count %></p>
     <%= link_to 'Add new rating', new_rating_path %>
</div>

<div class="sisalto">
     <ul>
          <% @ratings.each do |rating| %>
               <li> <%= render rating %> 
                    <div style="float: right; margin: -20px 0px 0px 0px;"> 
                         <%= button_to 'delete', rating, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }%> 
                    </div> 
               </li>
          <% end %>
     </ul>
</div>
