<div class="otsikko">
     <h1>List of ratings</h1>
     <p>Number of ratings: <%= @ratings.count %></p>
     <%= link_to 'Add new rating', new_rating_path %>
</div>

<div class="sisalto">
     <ul>
          <% @ratings.each do |rating| %>
               <li> <%= render rating %>
               </li>
          <% end %>
     </ul>
</div>
