<div class="otsikko">
     <h1>Ratings</h1>
     <p>Number of ratings: <%= @ratings.count %></p>
     <%= link_to('New Rating', new_rating_path) if current_user %>
</div>

<div class="sisalto">
     <ul>
          <% @ratings.each do |rating| %>
               <li> <%= render rating %>
               </li>
          <% end %>
     </ul>
</div>
