<h1>Styles</h1>

<br/>
<div class="row row-cols-1 row-cols-md-1 g-4">
  <% @styles.each do |style| %>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><%= style.text %></h5>
          <p class="card-text"><%= style.desc %></p>
          <%= link_to "Read more", style, class:"btn btn-outline-primary btn-sm" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<p>
<br/>
  <%= link_to "New style", new_style_path, class:"btn btn-outline-primary" if current_user %>
</p>
