<div class="otsikko">
  <h1>Beers</h1>
  <p>Number of beers: <%= @beers.count %></p>
  <%= link_to('New Beer', new_beer_path) if current_user %>
</div>

<p style="color: green"><%= notice %></p>

<div id="beers">
  <% @beers.each do |beer| %>
    <%= render beer %>
  <% end %>
</div>
