/* Sivun yleiset muotoilut */
body {
  font-family: system-ui;
  margin: 0px;
}

/* Navigaatiopalkki */
.navibar {
  padding: 10px;
  background: wheat;
  text-transform: lowercase;
}

/* Kirjautunut käyttäjä */
.userbar {
  padding: 10px;
  background: #2d3035;
  color: wheat;
}

/* Otsikkopalkki */
.otsikko {
  padding: 10px 10px 10px 10px;
  margin: -10px -10px 0px -10px;
  background: tomato;
  color: wheat;
}

/* Otsikkopalkki */
.otsikko_user {
  padding: 10px 10px 10px 10px;
  margin: -10px -10px 0px -10px;
  background: #2d3035;
  color: wheat;
}

/* Näytetään panimot ja oluet flexboxina */
#breweries, #beers {
  display: flex;
  flex-wrap: wrap;
}

/* Flexboxin sisältö */
#breweries > div, #beers > div {
  background-color: #f1f1f1;
  flex-grow: 1;
  border-radius: 3px;
  margin: 10px;
  padding: 25px;
  font-size: 18px;
}

/* Arvostelujen tai yleisesti listojen muotoilu parittomat */
ul > li:nth-child(odd) { 
  border-radius: 3px;
  background: #f1f1f1;
  list-style-type: none;
  padding: 10px;
  margin: 0px 0px 5px -40px;
}

/* Arvostelujen tai yleisesti listojen muotoilu parilliset */
ul > li:nth-child(even) { 
  border-radius: 3px;
  background: #dedede;
  list-style-type: none;
  padding: 10px;
  margin: 0px 0px 5px -40px;
}

/* h1 otsikosta marginit pois */
h1 {
  margin: 0px;
}

/* Pääsisältöön hieman marginia */
.paasisalto {
  margin: 10px;
}

/* Otsikkoalueen tekstikappale */
.otsikko > p, .otsikko_user > p {
  margin: 10px 10px 10px 0px;
}

/* Otsikkoalueen h1 ja logon fontti */
.otsikko > h1, .otsikko_user > h1, .logo{
  font-family: Georgia, serif;
  text-transform: none;
}

/* Linkin muotoilua */
a:link {
  color: Tomato;
}

/* Vieraillun linkin muotoilua */
a:visited {
  color: Tomato;
}

/* Valitun linkin muotoilua */
a:hover {
  color: white;
  background-color: Tomato;
  text-decoration: none;
}

/* Otsikkopalkin linkin muotoilua */
.otsikko > a:link {
  color: wheat;
}

/* Otsikkopalkin vieraillun linkin muotoilua */
.otsikko > a:visited {
  color: wheat;
}

/* Otsikkopalkin valitun linkin muotoilua */
.otsikko > a:hover {
  color: tomato;
  background-color: wheat;
  text-decoration: none;
}

/* Tekstin "kopioinnin" muotoilua Firefox-selain */
::-moz-selection {
  color: white;
  background: black;
}

/* Tekstin "kopioinnin" muotoilua */
::selection {
  color: white;
  background: black;
}
